.mySpecialBackground {
    /*background-image: url('./src/images/header.jpg');*/

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);

    width: 100%;
    height: 100%;
}