.loginBackgroundContainer {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 100vw;
    /*padding-left: calc(100vw - 100%);*/
    height: 100vh;
    grid-template-columns: repeat(15, minmax(0, 1fr));
}