.loginBackgroundContainer {
    position: fixed;
    top: -50px;
    left: -50px;
    width: calc(100vw + 100px);
    height: calc(100vh + 100px);
    overflow: hidden;
}

.card {
    max-width: 100px;
    min-width: 100px;
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}