.loginBackgroundContainer {
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
    overflow: hidden;
    grid-template-columns: repeat(15, minmax(0, 1fr));
}